<!-- <h3>News</h3> -->
<ul class="news-list">
  {% for news_item in site.data.news %}
    <li class="news-item">
      <div class="news-date-inline">{{ news_item.date }}</div>
      <div class="news-content-block">
        <div class="news-preview">
          {{ news_item.title }}
        </div>
        <div class="news-details">
          <div class="news-full-content">
            {{ news_item.content | markdownify | remove: '<p>' | remove: '</p>' }}
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>