<h3>Publications</h3>
<ul>
  {% for publication in site.data.publications %}
    <li>
      <b>
        <a href="{{ publication.link }}">{{ publication.title }}</a></b>, <i>{{ publication.conference }}</i>
      <br> 
      {% assign authors = publication.authors | split: ',' %}
      {% assign coauthor = false %}
      {% for author in authors %}
        {% if author contains 'Avinash Bhat' %}
          <strong>{{ author }}</strong>{% if forloop.last %}.{% else %}, {% endif %}
        {% else %}
          {{ author }}{% if forloop.last %}.{% else %}, {% endif %}
        {% endif %}
        {% if author contains '*' %}
        {% assign coauthor = true %}
        {% endif %}
      {% endfor %}
      {% if coauthor %}
          <i>* Equal contribution</i>
        {% endif %}
    </li>
  {% endfor %}
</ul>