---
import blogsData from '../data/blogs.json';
---

<ul class="content-list">
  {blogsData.map((blog) => (
    <li class="content-item">
      <div class="content-item-label">{blog.date}</div>
      <div class="content-item-body">
        <div class="content-item-preview">
          <a href={blog.url}>{blog.title}</a>
        </div>
        <div class="content-item-details">
          <div class="content-item-full">
            {blog.excerpt}
          </div>
        </div>
      </div>
    </li>
  ))}
</ul>
