---
import { marked } from 'marked';
import newsData from '../data/news.json';

function renderMarkdown(text: string): string {
  return marked(text).replace(/<\/?p>/g, '');
}
---

<ul class="content-list">
  {newsData.map((newsItem) => (
    <li class="content-item">
      <div class="content-item-label">{newsItem.date}</div>
      <div class="content-item-body">
        <div class="content-item-preview">
          {newsItem.title}
        </div>
        <div class="content-item-details">
          <div class="content-item-full" set:html={renderMarkdown(newsItem.content)} />
        </div>
      </div>
    </li>
  ))}
</ul>
