---
import notesData from '../data/notes.json';
---

<ul class="content-list">
  {notesData.map((note) => (
    <li class="content-item">
      <div class="content-item-label">{note.date}</div>
      <div class="content-item-body">
        <div class="content-item-preview">
          <a href={note.url}>{note.title}</a>
        </div>
        <div class="content-item-details">
          <div class="content-item-full">
            {note.excerpt}
          </div>
        </div>
      </div>
    </li>
  ))}
</ul>
